<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: bold; color: #0d6efd; font-size: 24px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacts</a>
        </li>
        {{#if InLogged}}
          <li class="nav-item dropdown">
            <a class="mb-1 nav-link dropdown-toggle" href="#"
            id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="public/images/user.png"  class="user_icon" alt="profile.icon">
            {{ username}}

            </a>
            <ul class="dropdown-menu"
            aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Logout</a></li>

            </ul>
          </li>
            {{else}}
            {{!-- <button type="button" class="btn btn-outline-primary ms-2"
            data-bs-toggle="model"
            data-bs-target="exampleModal">signup

            </button> --}}
                <li class="nav-item">
         <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                 type="button" class="btn btn-outline-primary">signup</button>
        </li>
          {{/if}}
        
        {{!-- <li class="nav-item">
         <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                 type="button" class="btn btn-outline-primary">signup</button>
        </li>
        <li class="nav-item">
         <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                 type="button" class="btn btn-outline-primary">{{ name }}</button>
        </li> --}}
        
       
    </div>
  </div>
</nav>
