<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/style.css ">
    <link rel="stylesheet" href="css/bootstrap.min.css ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="cantainer">
        {{> nav}}
        
        <div class="header_section text-center">
            <h1>I am a Fullstack Developer</h1>
            <p>Unlocking Creativity Through Code: Building Beautifully Simple Solutions. </p>
            <img src="public/images/PK.jpg" alt="hero">
        </div>
        <div class="hero_section" id="home">
            <img src="public/images/hero-devices.svg" alt="hero_img" width="500px">
            <div class="bg- #A020F0. p-5 text-center text-light">
                <h2>Hi, I'm Pardhum kumar,final-year ECE student at NIT KKR,</h2>
                <p>Proficient in C and C++, I have solved over 600+ coding questions on GeeksforGeeks,LeetCode and InterviewBit, mastering Data Structures and Algorithms. In web development, I am skilled in HTML, JavaScript, CSS, Nodejs, React, Express,Nodejs and MongoDB. I have completed projects, including an ECommerce website, a GPTClon application, and a portfolio website with a backend database for feedback and suggestions. With my passion for software development, fullstack development diverse skill set, I am well-equipped to contribute to your team's success.</p>
            </div>
        </div>
        <div class="row card_state">
            <div class=" box1 col-12 col-md-6 col-lg-4 mt-5 ml-4">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Fullstack web developer</h4>
                        <p>Coding Dreams to Reality: Crafting, Innovating, and Breathing Life into Ideas within the Browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I use:</h5>
                        <p>HTML,CSS,JavaScript</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools: </h6>
                        <ul class="list-group">
                            <li class="list-group-item">Nodejs</li>
                            <li class="list-group-item">React</li>
                            <li class="list-group-item">Express</li>
                            <li class="list-group-item">MongoDB</li>
                            {{!-- <li class="list-group-item">And a fifth one</li> --}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" box2 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4> Problem Solver</h4>
                        <p> A DSA problem solver who effortlessly tackles complex challenges and creates efficient solutions.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I use:</h5>
                        <p>C,C++</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Platforms: </h6>
                        <ul class="list-group">
                            <li class="list-group-item">Vs Code</li>
                            <li class="list-group-item">GFG</li>
                            <li class="list-group-item">Interviewbit</li>
                            <li class="list-group-item">Leetcode</li>
                            {{!-- <li class="list-group-item">.</li> --}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Subjects I know</h4>
                        <p> I have understanding of computer-related subjects, allowing me to excel in complex technical domains</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Areas of expertise:</h5>
                        <p>Computer-related subjects</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Subjects: </h6>
                        <ul class="list-group">
                            <li class="list-group-item">Operating Systems</li>
                            <li class="list-group-item">DBMS</li>
                            <li class="list-group-item">SQL</li>
                            <li class="list-group-item">Computer Networks</li>
                            {{!-- <li class="list-group-item">System Design</li> --}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="service text-center" id="projects">
            {{!-- <h2> My Projects</h2> --}}
            {{!-- <h2 class="pk text-info"><b>My Projects</b> </h2> --}}
  <h2 style="color: #0d6efd; font-size: 30px; font-weight: bold; text-align: center; text-transform: uppercase; margin-bottom: 20px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">My Projects</h2>

            <p style="font-size:19px">Fueling Digital Transformation: Expertly Crafting Dynamic Websites with Node, Express, React, and MongoDB.
                </p>
            <div class="row service_state" >
                <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/ecom.jpg" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestiae facilis
                                sunt voluptate officia nesciunt, impedit, culpa pariatur facere hic natus
                                cupiditate, cumque at saepe!</p>
                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div>
                <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/gptt.jpg" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestiae facilis
                                sunt voluptate officia nesciunt, impedit, culpa pariatur facere hic natus
                                cupiditate, cumque at saepe!</p>
                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div>
                <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/port.jpeg" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>Portfolio Website</h5>
                            <p >My <strong>Nodejs</strong>-powered portfolio website, deployed on <strong>Render</strong> and built with <strong>Express</strong>, having sections like About, Home ,Projects. The user-friendly Contact Us section allows visitors to easily connect by submitting their details, stored in <strong>MongoDB.</strong> With a focus on seamless communication and efficient data management. </p>
            


                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div>
                {{!-- <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestiae facilis
                                sunt voluptate officia nesciunt, impedit, culpa pariatur facere hic natus
                                cupiditate, cumque at saepe!</p>
                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div>
                <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestiae facilis
                                sunt voluptate officia nesciunt, impedit, culpa pariatur facere hic natus
                                cupiditate, cumque at saepe!</p>
                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div>
                <div class=" box3 col-12 col-md-6 col-lg-4 mt-5 ml-4 ">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="appdevelopment">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti molestiae facilis
                                sunt voluptate officia nesciunt, impedit, culpa pariatur facere hic natus
                                cupiditate, cumque at saepe!</p>
                            <button type="button" class="btn btn-primary">Learn more</button>
                        </div>

                    </div>
                </div> --}}
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="contact_us " id="contact">
            <form method="POST" action="/contactdata" >
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">For More Info </p>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="user" type="text" class="form-control" id="username" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
             
                <div class="mb-3 ">
                    <label for="" class="mb-2">Type your message here....</label>
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                   
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="footer bg-light" id="about">
                <a class="navbar-brand" href="#" style=" margin-top:50px; font-weight: bold; color: #0d6efd; font-size: 40px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Pardhum Kumar</a>
                <h3>Living,Learning,& Growing day by day</h3>
                <div class="social_icons">
                     <a href="https://auth.geeksforgeeks.org/user/pardhum12015152/practice"><img src="public/images/gfg2.png" class="footer-link" alt="gfg" width="28px" height="28px"></a>
                    <a href="kumarpardhum60@gmail.com"><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href="mailto:pardhumk160@gmail.com"><i class="fa fa-envelope"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                      <a href="https://www.interviewbit.com/profile/pardhumk160_e4b554863481"><img src="public/images/interviewbit.png" class="footer-link" alt="interviewbit" width="45px" height="45px"></a>
                </div>
                {{!-- <div class="coding">
                    <a href="https://auth.geeksforgeeks.org/user/pardhum12015152/practice"><img src="public/images/gfg.png" class="footer-link" alt="gfg" width="20px" height="20px"></a> --}}
                      {{!-- <a class="footer-link" href="https://www.interviewbit.com/profile/pardhumk160_e4b554863481">Interviewbit</a> --}}
                {{!-- </div> --}}
                <p>Handcrafted by me &copy Pardhum Kumar</p>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-5">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form method="POST" action="/useraccount">
         <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Username</label>
          <input name="name" type="text" name="name" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
          <div id="usernameHelp" class="form-text">Enter your username.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
       
          <div class="mb-3">
          <label for="exampleInputPhone1" class="form-label">Phone</label>
          <input  name="phone" type="number" name ="phone"class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp">
          <div id="phoneHelp" class="form-text">We'll never share your phone number with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputConfirmPassword1" class="form-label">Confirm Password</label>
          <input name="cpassword" type="password" name="cpassword" class="form-control" id="exampleInputConfirmPassword1">
        </div>

       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div> 

    <script src="js/bootstrap.min.js"></script>
</body>

</html>